<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/elsi-trunk</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <mapping class="com.iotimc.devicecenter.domain.DevCompanyEntity"/>
    <mapping class="com.iotimc.devicecenter.domain.DevDeviceEntity"/>
    <mapping class="com.iotimc.devicecenter.domain.DevProductEntity"/>
    <mapping class="com.iotimc.devicecenter.domain.DevProductdtlEntity"/>
    <mapping class="com.iotimc.devicecenter.domain.DevSensorlogEntity"/>
    <mapping class="com.iotimc.devicecenter.domain.DevTokenuserEntity"/>
    <mapping class="com.iotimc.devicecenter.domain.DevTokenuserproductEntity"/>
      <mapping class="com.iotimc.devicecenter.domain.DevControllogEntity"/>
      <mapping class="com.iotimc.devicecenter.domain.DevLoginlogEntity"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>